 <h1 class="title mt-5">Comming Events</h1>
   <div class="columns">
  <% Event.comming_events.each do |ce| %>
    <%= render partial: 'events/event_card', :locals => {:ce => ce} %> 
  <% end %>
</div>
<h1 class="title"> Past Events</h1>
<div class="columns">
<% Event.past_events.each do |ce|%>
 <%= render partial: 'events/event_card', :locals => {:ce => ce} %> 
<% end %>
</div>